    .header-container{
        width: auto;
        height: auto;
        padding: 0px;
        background-color:orangered;
        color: blanchedalmond;
        
    }
.header{
text-align: center;
margin: 0px;
padding: 0px;
}
.header h1{
    margin: auto;
    width: auto;
}

#hub{
    color: rgb(51, 10, 233);
}
@media only screen and (min-width: 600px) {
    .header-container{
        width: auto;
    }
}